{# src/Blogger/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h1>
            {% block titlePage %}
            {% endblock %}
            </h1>


            <ol class="breadcrumb">
              <!-- <li><a href="index.html"><i class="icon-dashboard"></i> Home</a></li> -->
              {% block breadcrumb %}
              <!-- <li class="active"><i class="icon-file-alt"></i> Blank Page</li> -->
              {% endblock %}
            </ol>

          </div>
        </div><!-- /.row -->
        {% block content %}

        {% endblock %}
      </div><!-- /#page-wrapper -->
{% endblock %}
