{# src/Blogger/BlogBundle/Resources/views/Analysis/index.html.twig #}
{% block content %}
    <form role="form" action="{{ path(route, { (param): value } ) }}" method="post" {{ form_enctype(form) }}>
      {{ form_widget(form) }}
      {{ form_rest(form) }}
    </form>
{% endblock %}