{# src/Blogger/BlogBundle/Resources/views/Administration/addLatex.html.twig #}
{% extends 'CKMAppBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {% include 'CKMAppBundle:Analysis:mathjax.html.twig' %}
{% endblock %}

{% block titlePage %}
Administration - <small>Model</small>
{% endblock %}

{% block content %}
<h3>Edit or Add a {{ kind }}</h3>

<div class="row">
  <div class="col-lg-6">
    <form role="form" method="post" {{ form_enctype(form) }}>
      {{ form_widget(form) }}
      <br />
      <p>
        <input type="submit" class="btn btn-primary" />
      </p>
    </form>
  </div>
</div>

{% endblock %}
