{# src/CKM/AppBundle/Resources/views/Page/index.html.twig #}
{% extends 'CKMAppBundle::layout.html.twig' %}

{% block titlePage %}
Communication - <small>Exemples de page</small>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body">
        <h2>Exemple de texte de communication</h2>
       <p> Des formules telles que:
<blockquote>
<small><code>Of a set \(\mathcal{S}\) is a bijection \(\psi : \mathcal{S} \rightarrow \mathcal{S}\).</code></small>
    Of a set \(\mathcal{S}\) is a bijection \(\psi : \mathcal{S} \rightarrow \mathcal{S}\).
</blockquote>

{% raw %}
  \(
  M_{12}^q = M_{12}^{{
\rm SM},q}
  \cdot
  \Delta_q 
  \)
{% endraw  %}

where \( \Delta_q \) is the complex NP amplitude for 
 a given quark falvour, \( q=d,s \). 

Autres exemples:
<blockquote>
   <small><code>\(\pi = \frac{C}{d}\)</code></small> devient \(\pi=\frac{C}{d}\)

    <small><code>\(\int\cos(x) dx = \sin(x) + K\)</code></small> devient \(\int\cos(x) dx = \sin(x) + K\)
</blockquote>
    </p>

        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <h3>gravida Pellentesque quis ligula Curabitur</h3>
      <p>Lorem ipsum dolor sit amet consectetuer turpis Sed at sagittis massa. Fringilla porta enim pretium nisl dolor libero nonummy laoreet et neque. Non magna orci dolor Curabitur Nam augue ac nibh pretium quis. Magna magna non vel elit tellus Proin urna nec ac Pellentesque. Faucibus ac congue In neque elit Fusce laoreet nunc dui tellus. Nunc quis urna Nulla tortor ante nulla pellentesque pretium scelerisque leo. Cursus eget laoreet Lorem accumsan neque consectetuer augue vitae nulla justo. Metus montes pharetra Nullam tellus Morbi Sed sapien Nam et justo. Ultrices et lacus sem Sed ligula pretium velit enim libero est. Orci enim eros Praesent euismod nunc orci semper tristique Ut quis. Vel ac.
      Sit Curabitur vitae nunc adipiscing justo lobortis ac tempus justo netus. Semper Sed eget Ut Integer mattis est at Curabitur sapien in. Sodales amet egestas congue consectetuer magna Vivamus Duis enim semper cursus. Ut dui elit non sed justo ac eros Sed gravida ligula. Diam scelerisque justo quis volutpat leo faucibus Curabitur Nunc Aenean neque. Orci Curabitur Aenean lacinia vitae consequat facilisi orci dolor nulla felis. Rhoncus Vivamus eu Aenean est et nunc velit turpis magnis.
      Nam et eu Nam cursus eget gravida Pellentesque quis ligula Curabitur. Ut parturient vitae id sed auctor orci porttitor tincidunt Aenean quis. Pede congue tortor condimentum Vivamus leo Quisque nonummy quam nulla sem. Vitae nec metus hendrerit vitae augue sit Vestibulum pede nisl penatibus. Tempus Quisque ipsum eu malesuada Integer Nulla amet.
      Leo orci enim fringilla dictumst eget tellus Nam Cum risus interdum.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <p>Lorem ipsum dolor sit amet consectetuer turpis Sed at sagittis massa. Fringilla porta enim pretium nisl dolor libero nonummy laoreet et neque. Non magna orci dolor Curabitur Nam augue ac nibh pretium quis. Magna magna non vel elit tellus Proin urna nec ac Pellentesque. Faucibus ac congue In neque elit Fusce laoreet nunc dui tellus. Nunc quis urna Nulla tortor ante nulla pellentesque pretium scelerisque leo. Cursus eget laoreet Lorem accumsan neque consectetuer augue vitae nulla justo. Metus montes pharetra Nullam tellus Morbi Sed sapien Nam et justo. Ultrices et lacus sem Sed ligula pretium velit enim libero est. Orci enim eros Praesent euismod nunc orci semper tristique Ut quis. Vel ac.
      Sit Curabitur vitae nunc adipiscing justo lobortis ac tempus justo netus. Semper Sed eget Ut Integer mattis est at Curabitur sapien in. Sodales amet egestas congue consectetuer magna Vivamus Duis enim semper cursus. Ut dui elit non sed justo ac eros Sed gravida ligula. Diam scelerisque justo quis volutpat leo faucibus Curabitur Nunc Aenean neque. Orci Curabitur Aenean lacinia vitae consequat facilisi orci dolor nulla felis. Rhoncus Vivamus eu Aenean est et nunc velit turpis magnis.
      Nam et eu Nam cursus eget gravida Pellentesque quis ligula Curabitur. Ut parturient vitae id sed auctor orci porttitor tincidunt Aenean quis. Pede congue tortor condimentum Vivamus leo Quisque nonummy quam nulla sem. Vitae nec metus hendrerit vitae augue sit Vestibulum pede nisl penatibus. Tempus Quisque ipsum eu malesuada Integer Nulla amet.
      Leo orci enim fringilla dictumst eget tellus Nam Cum risus interdum. In nisl ligula felis ac Proin habitasse lacinia id lorem velit. Lacinia dapibus sagittis euismod augue mattis felis libero vel et eget. Vestibulum nibh odio non hendrerit Nullam libero nibh tellus eros ultrices. In Nullam Curabitur Curabitur metus Integer condimentum nonummy vitae nec id. Dictumst risus Vivamus adipiscing orci ipsum Cum et justo eget sagittis. Aenean Aenean ullamcorper Morbi gravida eleifend sit auctor natoque semper enim. Morbi justo enim sed Nam nibh ut augue rhoncus ac sem. Vel elit cursus pede orci et elit porttitor Curabitur auctor sed. Ut accumsan orci pellentesque felis Curabitur egestas Aenean Nulla Nam malesuada. Et id Nulla at et est Nam vitae pretium congue sagittis. Justo aliquet pretium leo libero dui velit laoreet consectetuer semper faucibus. Vestibulum sit fermentum dui diam elit nibh tellus habitasse neque fringilla. Phasellus neque Nunc Aenean nunc.</p>
    </div>
  </div>


  <div class="row">
      <div class="col-lg-6">
        <img src="http://ckmfitter.in2p3.fr/www/archives/plots_Summer07/rhoeta_Large_Summer07.gif" alt="exemple ckm" class="img-responsive img-rounded">
      </div>
      <div class="col-lg-6">
        <h2>Bordered with Striped Rows</h2>
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped tablesorter">
            <thead>
              <tr>
                <th class="header">Page <i class="fa fa-sort"></i></th>
                <th class="header">Visits <i class="fa fa-sort"></i></th>
                <th class="header">% New Visits <i class="fa fa-sort"></i></th>
                <th class="header">Revenue <i class="fa fa-sort"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>/index.html</td>
                <td>1265</td>
                <td>32.3%</td>
                <td>$321.33</td>
              </tr>
              <tr>
                <td>/about.html</td>
                <td>261</td>
                <td>33.3%</td>
                <td>$234.12</td>
              </tr>
              <tr>
                <td>/sales.html</td>
                <td>665</td>
                <td>21.3%</td>
                <td>$16.34</td>
              </tr>
              <tr>
                <td>/blog.html</td>
                <td>9516</td>
                <td>89.3%</td>
                <td>$1644.43</td>
              </tr>
              <tr>
                <td>/404.html</td>
                <td>23</td>
                <td>34.3%</td>
                <td>$23.52</td>
              </tr>
              <tr>
                <td>/services.html</td>
                <td>421</td>
                <td>60.3%</td>
                <td>$724.32</td>
              </tr>
              <tr>
                <td>/blog/post.html</td>
                <td>1233</td>
                <td>93.2%</td>
                <td>$126.34</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
    </div>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ["\\(","\\)"] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
{% endblock %}
