{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'CKMAppBundle::layout.html.twig' %}

{% block titlePage %}
Home <small>CKM Live Site</small>
{% endblock %}


{% block content %}

{% for type, flashMessages in app.session.flashbag.all() %}
  {% for flashMessage in flashMessages %}
      <div class="alert alert-{{ type }}">
          <span class="label label-{{ type }}">{{ type }}</span> &nbsp;{{ flashMessage }}
      </div>
  {% endfor %}
{% endfor %}

  Home page text
{% endblock %}
